* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

img {
    width: 30vw;
    margin-bottom: 20px;
    min-width: 250px;
}

p {
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, .75);
    line-height: 25px;
}

code {
    color: purple;
}
